
body {
    overflow-y: scroll;
    scroll-behavior: smooth;
    /* scroll-padding-top: 50px; */
    font-family: "Nunito", sans-serif;
    /* -ms-scroll-snap-type: y proximity;
        scroll-snap-type: y proximity; */
  }
  
  section {
    /* height: 100vh;
    /* scroll-snap-align: start; */
    /* animation: fadeInLeft; */
    
  }

.jumbotron { 
	background-image: url("https://images.unsplash.com/photo-1489549132488-d00b7eee80f1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=60");
    background-size: cover;
    /* height: 100vh; */
	

}



#top {
    justify-content: center;
}

.rounded-circle {
  max-height: 80vh;
}

.fadein {
    animation: fadeIn 3s;
}

.fadeleft {
    animation: fadeInLeft 1.5s;
}

.faderight {
    animation: fadeInRight 1.5s;
}

@media (min-width: 1200px) {
    .imgpad {
    margin-left: 90px;
}
}
#mainNavbar {
	font-size: 1.5rem;
	font-weight: 200;
	margin: 0px;
	padding-left:20px;
}

#mainNavbar .navbar-brand {
	color: #ffcd17;
	font-size: 1.5rem;
	font-weight: 100;
}

#mainNavbar .navbar-brand #cat{
	color: black;
	
}

#mainNavbar .nav-link {
	color: white;
}


#mainNavbar .nav-link:hover {
	color: #ffcd17;
}


#headingGroup .token {
	color: black;
}
#headingGroup h1 {
	font-weight: 400;
	font-size: 6rem;
	color:#f2fff5;

}

#headingGroup .jake {
	color:#ffae00;
}


#headingGroup {
	
	padding: 150px 0;
	letter-spacing: 2px;

}

#arrow {
	color:white;
	font-size: 5rem;
    padding-bottom: 50px;
  
}

#bottom {
	text-align: center;
	padding-bottom: 40px;
	color: #ffcd17;
	font-size: 5rem;
}

@media (max-width: 740px) {
	#headingGroup h1 {
	font-weight: 300;
	font-size: 3rem;
}
}
#icon {
	font-size:5rem;
	color:#ffcd17;
}

.desc h2 {
	color: #011f24;
	font-weight: 100;
	font-size: 2.5rem;

}

.desc p {
	color:#011f24;
	font-weight: 100;
	font-size: 1.125rem;
	line-height:2;
}

#portfolio {
	text-align: center;
	padding: 20px 0;
    font-size: 5rem;
    background: #ebebeb;
}


.content {
	padding-top: 90px;
	padding-bottom: 40px;
	 animation-duration: 3s;
  animation-name: slide;
  
}

.navbar.scrolled {
	background: #283048;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #859398, #283048);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #859398, #283048); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	transition: background 1s;
}

#section2 {
	background:white;
}

.alternate {
	background: white;
}

.normal {
	background: #ebebeb;
}

.rounded-circle {
    /* padding-left: 30px; */
}

@-webkit-keyframes fadeInLeft {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes fadeInLeft {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
  }
  
  @-webkit-keyframes fadeInRight {
    from {
      opacity: 0;
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes fadeInRight {
    from {
      opacity: 0;
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
  }

  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
  }
  
  @-webkit-keyframes fadeInDown {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }

