body {
	/*background: #A1FFCE; */ /* fallback for old browsers */
/*background: -webkit-linear-gradient(to right, #011f24, #A1FFCE); */ /* Chrome 10-25, Safari 5.1-6 */
/*background: linear-gradient(to right, #3baebf, #A1FFCE); *//* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	font-family: "Nunito", sans-serif;
}
.jumbotron {
	background-image: url("https://images.unsplash.com/photo-1464802686167-b939a6910659?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
	background-size: cover;
	height: 100vh;
	

}


#mainNavbar {
	font-size: 1.5rem;
	font-weight: 200;
	margin: 0px;
	padding-left:20px;

	
}

#mainNavbar .navbar-brand {
	color: #ffcd17;
	font-size: 1.5rem;
	font-weight: 100;
}

#mainNavbar .navbar-brand #cat{
	color: black;
	
}

#mainNavbar .nav-link {
	color: white;
}


#mainNavbar .nav-link:hover {
	color: #ffcd17;
}


#headingGroup .token {
	color: black;
}
#headingGroup h1 {
	font-weight: 400;
	font-size: 6rem;
	color:#f2fff5;

}

#headingGroup .jake {
	color:#ffae00;
}


#headingGroup {
	
	padding: 150px 0;
	letter-spacing: 2px;

}

#arrow {
	color:white;
	font-size: 5rem;
	padding-bottom: 50px;
}

#bottom {
	text-align: center;
	padding-bottom: 40px;
	color: #ffcd17;
	font-size: 5rem;
}

@media (max-width: 1200px) {
	#headingGroup h1 {
	font-weight: 200;
	font-size: 3rem;
}
}
#icon {
	font-size:5rem;
	color:#ffcd17;
}

.desc h2 {
	color: #011f24;
	font-weight: 100;
	font-size: 2.5rem;

}

.desc p {
	color:#011f24;
	font-weight: 100;
	font-size: 1.125rem;
	line-height:2;
}

#portfolio {
	text-align: center;
	padding: 20px 0;
	font-size: 5rem;
}


.content {
	padding-top: 40px;
	padding-bottom: 40px;
	 animation-duration: 3s;
  animation-name: slidein;
}

.navbar.scrolled {
	background: #283048;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #859398, #283048);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #859398, #283048); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	transition: background 1s;
}

#section2 {
	background:white;
}

.alternate {
	background: white;
}

.normal {
	background: #ebebeb;
}

